.doctor-extra-info-container{
    padding-left: 15px;
    .content-up{
        margin-bottom:10px;
        .text-address{
           text-transform: uppercase;
           color:#333
        }
        .name-clinic{
          font-weight: 600;
          color:#333;
          padding:5px 0;
        }
        .detail-address{
          font-weight: 600;
          color:#333;
        }
    }
    .content-down{
        .short-info{
          .price-info{
            text-transform: uppercase;
          }
          .detail{
            cursor:pointer;
            color:rgba(72, 196, 211, 1.00)
          }
          .currency{
            margin : 0 5px;
          }
        }
        .title-price{
          margin-bottom:10px;
          text-transform: uppercase;
        }
        .detail-info{
            border:1px solid #ddd;
            padding:5px;
            background-color:#f8f8f8;
            .price{
            padding-bottom:5px;
            
             .right{
                  float:right
              }
            }
            .note{

            }
        }
        .all-payment{
          border:1px solid #ddd;
          padding:5px;
          background-color:#eeeeee;
          .all-paymentType{
            text-transform: lowercase;
            margin:0 5px;
          }
        }
        .payment{
          border:1px solid #ddd;
          padding:5px;
          background-color:#eeeeee;
          .paymentType{
            margin:0 5px;
          }
        }
        .hide-price{
          margin-top:10px;
          span{
            cursor:pointer;
            color:rgba(72, 196, 211, 1.00)
          } 
        }

    }
}