.booking-modal-container{
    .booking-modal-content{
        display:flex;
        flex-direction: column;
        .booking-modal-header{
          padding:10px;
          border-bottom:1px solid #ccc;
          .left{
            font-weight: 600;
            font-size: 15px;
            color:#333
          }
          .right{
            float:right;
            cursor:pointer;
          }
        }
        .booking-modal-body{
           height: 100%;
           padding:15px;
        }
        .booking-modal-footer{
          padding: 10px;
          border-top:1px solid #ccc;
          display:flex;
          justify-content: flex-end;
          gap:15px;
          button{
            outline:none;
            border:none;
            padding:5px 8px;
            border-radius:5px
          }
          .btn-booking-confirm{
            background-color:#f7e03d;
          }
          .btn-booking-cancel{
            background-color: #d0cece;
          }
        }
        
    }
}